@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F4F5F9;
  --foreground: #000000;
  --border : #CFD2DC;
  --accent : #E54065;
  --filter: #E1E4EA;
  --read-background : #F2F2F2;
  --text: #636363;
}

 

body {
  border-color: --border;
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
